.container {
  width: 1200px;
}

header {
  max-width: 1920px;
  background: rgba(23, 126, 141, 0.3);
  display: flex;
  justify-content: center;
}

.header_wrapper {
  align-items: center;
  display: inline-flex;
  justify-content: space-between;
}

.label {
  font-size: 25px;

}

.news {
  max-width: 1920px;
  min-height: 800px;
  display: flex;
  justify-content: center;
}

.main_news {
  flex-wrap: wrap;
  display: inline-flex;

}

.main_news_card {
  width: 45%;
  height: 300px;
  border: 2px solid white;
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  background-repeat: no-repeat;
  background-size: cover;
  color: honeydew;
  font-weight: bold;
}

footer {
  text-align: center;
  background: rgba(22, 146, 167, 0.3);
  height: 50px;

}

.main_news_data {
  margin-bottom: 50px;
}

.main_news_footer {
  display: flex;
  margin-top: 60px;
  justify-content: space-between;
}

.main_news_author {
  font-size: 20px;
}


.main_news_name {
  margin-bottom: 20px;
  font-size: 30px;
  text-align: left;
}

.main_news_link {

  text-decoration-line: none;
  color: #54ec08;
}

.main_news_text {
  height: 72px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

}

.profile_on {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.profile_div {
  display: inline-flex;

  align-items: center;
}


.news_page_name {
  height: 600px;
  text-align: center;
  display: flex;
  align-items: start;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60% 40%;
  font-size: 80px;
  border: 2px solid white;
  color: white;
}

.news_page_text {
  width: 800px;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 20px;
}

.news_page_footer {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  margin-top: 30px;
}

.news_page_link {
  font-size: 25px;
  text-decoration-line: none;
  color: #15d251;
  margin: 0 auto;
  margin-top: 10px;
}